@model WebPowerApp.PowerBIModels.ReportEmbedConfig
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<script src="~/js/powerbi.js"></script>

<style>
    body {
    font-family: 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe WP Light', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif
}

#embedContainer {
    min-width: 800px;
    height: calc(0.5625 * 64vw); /* 16:9 aspect ratio */
    width: 60%;
}

#dashboardContainer {
    min-width: 800px;
    height: calc(0.5625 * 64vw); /* 16:9 aspect ratio */
    width: 60%;
}

@@media only screen and (max-width: 1333.33px) {
    #embedContainer, #dashboardContainer {
        height: calc(0.5625 * 870px); /* 16:9 aspect ratio */
    }
}

#buttonsWrapper {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

#buttonsWrapper a {
    background-color: rgb(36, 169, 225);
    border: none;
    color: white;
    padding: 5px 30px;
    margin: 5px;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#buttonsWrapper a:hover {
   font-size: 120%;
}

#tileContainer {
    width: 400px;
    height: 350px;
}

.infoBox {
    margin-top: 30px;
}

iframe {
    border: none;
}
</style>

<h2>Embedded Report</h2>
<div>
    <a asp-action="EmbedReport" asp-controller="Report" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Reports</a>


    @*The following report is the first report found in the given group, or the reportId defined in Web.config. Feel free to change the code to match your needs.<br /><br />*@
</div>


<div id="embedContainer"></div>





@*<div class="infoBox">
    Code is in files:<br />
    1) HomeController.cs<br />
    2) EmbedService.cs<br />
    3) EmbedReport.cshtml
</div>*@

@*@Html.Partial("AdditionalLinks")*@

@section scripts {
<script>

    //alert("Chk-1");
    // Get a reference to the embedded report HTML element
    const reportContainer = $('#embedContainer')[0];

    // Bootstrap the embed container for report
    powerbi.bootstrap(reportContainer, { type: 'report' });

    // Read embed application token from Model
    const accessToken = "@Model.EmbedToken.Token";
    //alert("Before Access Token");

    //alert(accessToken);
    // You can embed different reports as per your need by changing the index
    // Read embed URL from Model
    const embedUrl = "@Html.Raw(Model.EmbedReports[0].EmbedUrl)";

    // Read report Id from Model
    const embedReportId = "@Model.EmbedReports[0].ReportId";

    // Use the token expiry to regenerate Embed token for seamless end user experience
    // Refer https://aka.ms/RefreshEmbedToken
    const tokenExpiry = "@Model.EmbedToken.Expiration";

    // Get models. models contains enums that can be used.
    const models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    const config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        permissions: models.Permissions.All,
        settings: {
            // Enable this setting to remove gray shoulders from embedded report
            // background: models.BackgroundType.Transparent,
            filterPaneEnabled: true,
            navContentPaneEnabled: true
        }
    };

    // Embed the report and display it within the div container.
    const report = powerbi.embed(reportContainer, config);
</script>
}
@*
    <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDUyMTNiOWMtNzBiNy00YjJkLWJiOTYtNjk5OWNkNDE2MmEyIiwidCI6ImQ5N2MyZTA1LWU1NmEtNDllMS05ZjBhLTVjMzVhNGI2OGRiOCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
*@
